.alert {
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}
.alert-success {
    border-color: $success-green;
    color: $success-green;
}
.alert-error {
    border-color: $error-red;
    color: $error-red;
}
.alert-warning {
    border-color: $warning-yellow;
    color: $warning-yellow;
}
.alert-info {
    border-color: $info-blue;
    color: $info-blue;
}
