button {
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    background-color: $dark-gray;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        border-color: #fff;
    }
    &:disabled {
        color: $medium-gray;
        border-color: $medium-gray;
    }
}
