/* Colors. */
$reian-red: #872823;
$medium-gray: #555;
$dark-gray: #222;
$abyssal-gray: #080808;
$twitter-blue: #1da1f2;
$fiery-coral: #ff424d;
$success-green: #31e831;
$error-red: #e83131;
$warning-yellow: #e5e200;
$info-blue: #4ca8ff;

/* Mixins. */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
@mixin nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
}
/* Mobile-first rulesets. */
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background-color: $dark-gray;
}
main {
    padding: 1rem;
    flex-grow: 1;
}
footer {
    background-color: $abyssal-gray;
    padding: 1rem;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
hr {
    border: 0;
    border-bottom: 1px solid $medium-gray;
}
code {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
}
a {
    color: #0d8eff;
    text-decoration: none;

    &:visited {
        color: #73beff;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: #fff;
    }
}
article {
    p {
        margin-bottom: 1rem;
    }
}
/* Layout rulesets. */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: $reian-red;
    padding: 1rem;
    box-shadow: 0 0 0.60rem #000;
    z-index: 1;
}
.desktop-text {
    display: none;
}
/* Alert rulesets for flash messages. */
.alert {
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}
.alert-success {
    border-color: $success-green;
    color: $success-green;
}
.alert-error {
    border-color: $error-red;
    color: $error-red;
}
.alert-warning {
    border-color: $warning-yellow;
    color: $warning-yellow;
}
.alert-info {
    border-color: $info-blue;
    color: $info-blue;
}
/* Header navigation rulesets for mobile. */
.nav {
    @include reset-list;
    flex-direction: column;

    a {
        @include nav-link;
        font-weight: bold;
        text-shadow: 1px 1px #000;

        &:hover {
            color: #fff2d1;
        }
    }
}
.nav-brand a {
    display: block;
    font-size: 2rem;
}
.nav-toggle {
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    font-size: 2rem;
}
.nav-item {
    display: none;

    a {
        padding: 0.5rem 0;
    }
}
.nav-item-show {
    display: block;
}
.nav-search {
    margin-top: 0.5rem;
}
.nav-search-container {
    display: flex;
}
.nav-search-input, .nav-search-button {
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    background-color: $reian-red;
    border: 1px solid #fff;
    box-shadow: 1px 1px #000;
}
.nav-search-input {
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
    flex-grow: 1;

    &::placeholder {
        color: #999;
    }
}
.nav-search-button {
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
}
/* Built-in form rulesets for mobile. */
input, textarea, button {
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    background-color: $dark-gray;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    max-width: 100%;
}
input, textarea {
    padding: 0.5rem;
}
button {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        border-color: #fff;
    }
    &:disabled {
        color: $medium-gray;
        border-color: $medium-gray;
    }
}
label {
    display: block;
    margin-bottom: 0.5rem;
}
/* User-defined form rulesets for mobile. */
.form-checkbox-hide {
    display: none;
}
.form-checkbox-label {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;

    &:hover {
        border-color: #fff;
    }
}
.form-checkbox-label-divider {
    display: none;
}
.form-group {
    margin-bottom: 1rem;
}
.form-button-list {
    display: flex;

    & label:not(:last-of-type) {
        margin-right: 1rem;
    }
}
.form-button-cancel {
    margin-left: 1rem;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;

    &:hover {
        border-color: $error-red;
    }
    a {
        display: block;
        color: $error-red;
        padding: 0.5rem 1rem;

        &:hover {
            text-decoration: none;
        }
    }
}
/* Footer navigation rulesets for mobile. */
.footer-nav {
    @include reset-list;
    justify-content: center;

    a {
        @include nav-link;
        font-size: 2rem;
        text-shadow: 1px 1px #000;
        padding: 0 1rem;
    }
}
.color-twitter {
    color: $twitter-blue;
}
.color-patreon {
    color: $fiery-coral;
}
.version {
    font-family: "Roboto Mono", monospace;
    text-align: center;
}
.copyright {
    text-align: center;
}
/* Wiki rulesets for mobile. */
.wiki-nav {
    @include reset-list;
    justify-content: flex-end;

    li {
        border: 1px solid $medium-gray;
        border-radius: 0.25rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
        &.wiki-nav-splitter {
            margin-left: auto;
        }
        &:hover {
            border-color: #fff;
        }
        &.wiki-nav-item-disabled > a {
            color: $medium-gray;
        }
        &.wiki-nav-item-disabled:hover {
            border-color: $medium-gray;
        }
    }
    li a {
        @include nav-link;
        padding: 0.5rem 1rem;
    }
}
.wiki-nav-item-status {
    padding: 0.5rem 1rem;

    &:hover {
        border-color: $medium-gray;
    }
}
.wiki-article-title {
    font-size: 2rem;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.wiki-article-body {
    p {
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid $medium-gray;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4, h5, h6 {
        font-size: 1rem;
    }
}
/* Media query rulesets for desktop. */
@media screen and (min-width: 768px) {
    /* Layout rulesets. */
    main {
        margin: 0 auto;
        width: 75%;
    }
    .desktop-text {
        display: inline;
    }
    /* Header navigation rulesets for desktop. */
    .nav {
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 1rem;
    }
    .nav-brand {
        margin-right: auto;

        a {
            padding: 0;
        }
    }
    .nav-toggle {
        display: none;
    }
    .nav-item {
        display: block;
        align-self: center;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
    .nav-search {
        margin: 0;
    }
    /* User-defined form rulesets for desktop. */
    .form-checkbox-label-divider {
        display: inline;
        border-left: 1px solid $medium-gray;
        margin-right: 0.25rem;
    }
}
