{% extends "base.twig" %}

{% block content %}
    <article>
        <h1>404 Not Found</h1>
        <hr>
        <p>The page that you're looking for couldn't be found.</p>
    </article>
{% endblock %}
