{% extends "base.twig" %}

{% block content %}
    <article>
        <h1>About</h1>
        <hr>
        <p><strong>reia.dev</strong> is a suite of tools for roleplaying. It is developed and maintained by members of the Parentheses community. The lead developer of the project is Andrew. For any and all inquiries, please send an e-mail to <a href="mailto:lordovos@live.com">lordovos@live.com</a>.</p>
        <p>reia.dev is licensed under the MIT license, and the source code can be found on <a href="https://github.com/Lordovos/reia.dev"><i class="lab la-github"></i> GitHub</a>.</p>
        <p>The following libraries are used to power reia.dev:</p>
        <ul>
            <li><a href="https://twig.symfony.com">twig/twig</a></li>
            <li><a href="https://github.com/bramus/router">bramus/router</a></li>
        </ul>
        <p>Additional tools used:</p>
        <ul>
            <li><a href="https://getcomposer.org">Composer</a></li>
            <li><a href="https://sass-lang.com">Sass</a></li>
        </ul>
        <p>Additional resources:</p>
        <ul>
            <li><a href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a></li>
            <li><a href="https://fonts.google.com/specimen/Roboto+Mono">Roboto Mono</a></li>
            <li><a href="https://icons8.com/line-awesome">Line Awesome</a></li>
        </ul>
    </article>
{% endblock %}
