{% extends "base.twig" %}

{% block content %}
    <article>
        <h1>Admin</h1>
        <hr>
        <p>Hello, {{ user.username }}.</p>
        {% if users|length > 0 %}
            <hr>
            <p>Users pending verification:</p>
            <ul>
                {% for u in users %}
                    {% if u.role == 0 %}
                        <li><a href="/user/{{ u.username }}">{{ u.username }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </article>
{% endblock %}
