<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>reia.dev</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono" rel="stylesheet">
        <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
    </head>
    <body class="container">
        {{ include("header.twig") }}
        <main>
            {% block content %}{% endblock %}
        </main>
        {{ include("footer.twig") }}
        <script src="/main.js"></script>
    </body>
</html>
