<footer>
    <ul class="footer-nav">
        <li><a href="https://twitter.com/Lordovos"><i class="lab la-twitter color-twitter"></i></a></li>
        <li><a href="https://github.com/Lordovos"><i class="lab la-github"></i></a></li>
        <li><a href="https://www.patreon.com/reiadev"><i class="lab la-patreon color-patreon"></i></a></li>
    </ul>
    {% if version %}
        <p class="version">v{{ version }}</p>
    {% endif %}
    <p class="copyright">&copy; Robert Holman. All rights reserved.</p>
</footer>
