<header class="header">
    <nav>
        <ul class="nav">
            <li class="nav-brand"><a href="/">reia.dev</a></li>
            <li class="nav-toggle"><i class="las la-bars"></i></li>
            <li class="nav-item"><a href="/">About</a></li>
            <li class="nav-item"><a href="/">Wiki</a></li>
            <li class="nav-item"><a href="/">Sign Up</a></li>
            <li class="nav-item"><a href="/">Log In</a></li>
            <li class="nav-item nav-search">
                <form action="/" method="post">
                    <div class="nav-search-container">
                        <input type="text" name="search" class="nav-search-input" placeholder="Search...">
                        <button type="submit" class="nav-search-button"><i class="las la-search"></i></button>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>
