<header class="header">
    <nav>
        <ul class="nav">
            <li class="nav-brand">
                <a href="/">
                    <img src="/images/moon.png" alt="moon" title="reia.dev" width="32" height="32" class="nav-logo">
                    reia.dev
                </a>
            </li>
            <li class="nav-toggle"><i class="las la-bars"></i></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/wiki">Wiki</a></li>
            {% if user %}
                <li class="nav-item"><a href="/user/{{ user.username }}">Profile</a></li>
                {% if user.isAdministrator() %}
                    <li class="nav-item"><a href="/admin">Admin</a></li>
                {% endif %}
                <li class="nav-item"><a href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="/register">Sign Up</a></li>
                <li class="nav-item"><a href="/login">Log In</a></li>
            {% endif %}
            <li class="nav-item nav-search">
                <form action="/search" method="post">
                    <div class="nav-search-container">
                        <input type="text" name="search" class="nav-search-input" placeholder="Search...">
                        <button type="submit" class="nav-search-button"><i class="las la-search"></i></button>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>
