{% extends "base.twig" %}

{% block content %}
    <article class="article">
        <h1>Welcome</h1>
        <hr>
        <p>Hello, and welcome to reia.dev! This site is host to a suite of web-based tools for role-playing. It currently has user accounts and a fully featured wiki. Other features are currently in development, and all feedback is welcome!</p>
        <p>For personal updates, please follow me on Twitter: <a href="https://twitter.com/Lordovos"><i class="lab la-twitter"></i> @Lordovos</a>.
        <p>To hang out and chat with the developers, check out the reia.dev <a href="https://discord.gg/GNkNSQDEJD"><i class="lab la-discord"></i> Discord</a>.</p>
        <p>If you're looking to contribute, have a feature suggestion, or if you've found a bug, hit up the repository on <a href="https://github.com/Lordovos/reia.dev"><i class="lab la-github"></i> GitHub</a>.</p>
        <p>Finally, if you want to support this project and the developers financially, consider becoming a <a href="https://www.patreon.com/reiadev"><i class="lab la-patreon"></i> Patreon</a>! Benefits are a little lacking right now, but as the project grows there will be more to come.</p>
    </article>
{% endblock %}
