{% extends "base.twig" %}

{% block content %}
    <form action="/register" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="input-username">Username</label>
            <input type="text" name="username" id="input-username" pattern="[a-zA-Z0-9_-]{2,24}" size="40" value="{{ form_input ? form_input.username : null }}" required>
        </div>
        <div class="form-group">
            <label for="input-password">Password</label>
            <input type="password" name="password" id="input-password" size="40" minlength="8" required>
        </div>
        <div>
            <label for="input-email">Email Address</label>
            <input type="email" name="email" id="input-email" size="40" value="{{ form_input ? form_input.email : null }}" required>
        </div>
        <hr>
        <div class="form-button-list">
            <button type="submit">Sign Up</button>
            <p class="form-button-cancel"><a href="/"><i class="las la-times"></i> <span class="desktop-text">Cancel</span></a></p>
        </div>
    </form>
{% endblock %}
