{% extends "base.twig" %}

{% block content %}
    {% if profile %}
        <article>
            <h1>{{ profile.username }}</h1>
            <hr>
            <p>Joined: <span class="datetime">{{ profile.join_date }}</span></p>
        </article>
    {% else %}
        <article>
            <p>No user found by that username.</p>
        </article>
    {% endif %}
{% endblock %}
