.wiki-nav {
    @include reset-list;
    justify-content: flex-end;

    li {
        border: 1px solid $medium-gray;
        border-radius: 0.25rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
        &.wiki-nav-splitter {
            margin-left: auto;
        }
        &:hover {
            border-color: #fff;
        }
        &.wiki-nav-item-disabled > a {
            color: $medium-gray;
        }
        &.wiki-nav-item-disabled:hover {
            border-color: $medium-gray;
        }
    }
    li a {
        @include nav-link;
        padding: 0.5rem 1rem;
    }
}
.wiki-nav-item-status {
    padding: 0.5rem 1rem;

    &:hover {
        border-color: $medium-gray;
    }
}
.wiki-article-title {
    overflow-wrap: break-word;
}
.wiki-article-body {
    h2 {
        border-bottom: 1px solid $medium-gray;
        margin-bottom: 0.5rem;
        overflow: hidden;
        clear: both;
    }
    p, ol, ul, blockquote, pre {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    table {
        width: 100%;
        margin-bottom: 1rem;
        table-layout: fixed;
        border-spacing: 0;
        border: 1px solid $medium-gray;
        border-radius: 0.25rem;

        thead tr th {
            border-bottom: 1px solid $medium-gray;
        }
        tbody {
            tr th, td {
                border-bottom: 1px solid $medium-gray;
            }
            th + td {
                border-left: 1px solid $medium-gray;
            }
            td + td {
                border-left: 1px solid $medium-gray;
            }
            tr:last-child th:last-of-type {
                border-bottom: 0;
            }
            tr:last-child td:last-of-type {
                border-bottom: 0;
            }
        }
        th, td {
            padding: 0.25rem 0.5rem;
            overflow-wrap: break-word;
        }
    }
}
.wiki-article-body-no-content {
    font-style: italic;
    color: $medium-gray;
}
blockquote.wiki-article-caption {
    padding: 0.5rem;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    margin: 0 auto 1rem auto;
    max-width: 100%;
}
p.wiki-article-caption {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.wiki-article-caption img {
    text-align: center;
}
.wiki-article-table-container {
    max-width: 100%;
}
.wiki-article-toc-container {
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    max-width: 100%;

    & > h2 {
        border: 0;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
    }
    & > ol {
        padding-left: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .wiki-article-body {
        table {
            max-width: 20rem;
            float: right;
            margin-left: 1rem;
        }
    }
    blockquote {
        &.wiki-article-caption {
            max-width: 20rem;
        }
        &.wiki-article-caption-left {
            float: left;
            margin-right: 1rem;
        }
        &.wiki-article-caption-right {
            float: right;
            margin-left: 1rem;
        }
    }
    .wiki-article-toc-container {
        max-width: 20rem;
    }
}
@media screen and (max-width: 320px) {
    .wiki-nav li:not(:last-child) {
        margin-right: 0.5rem;
    }
}
