*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #fff;
    font-family: $text-font-stack;
    background-color: $dark-gray;
}
code {
    font-family: $code-font-stack;
    font-size: 0.75rem;
}
main {
    padding: 1rem;
    flex-grow: 1;
}
footer {
    background-color: $abyssal-gray;
    padding: 1rem;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote {
    margin: 0;
}
hr {
    border: 0;
    border-bottom: 1px solid $medium-gray;
    clear: both;
}
a {
    color: #0d8eff;
    text-decoration: none;

    &:visited {
        color: #73beff;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: #fff;
    }
}
img {
    image-rendering: pixelated;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
article {
    p {
        line-height: 1.5;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4, h5, h6 {
        font-size: 1rem;
    }
}
button {
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    background-color: $dark-gray;
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        border-color: #fff;
    }
    &:disabled {
        color: $medium-gray;
        border-color: $medium-gray;
    }
}
dialog {
    color: #fff;
    background-color: $dark-gray;

    &::backdrop {
        background-color: #000;
        opacity: 75%;
    }
}
@media screen and (min-width: 768px) {
    main {
        margin: 0 auto;
        width: 75%;
    }
    dialog {
        margin: auto auto;
        width: 75%;
    }
}
