.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: $reian-red;
    padding: 1rem;
    box-shadow: 0 0 0.60rem #000;
    z-index: 1;
}
.desktop-text {
    display: none;
}
.invalid-link {
    color: $error-red;
    transition: color 1s;
}
.uploaded-image {
    border: 1px solid $medium-gray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    max-width: 100%;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 0;
    }
    p:last-child {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .desktop-text {
        display: inline;
    }
}
