$reian-red: #872823;
$medium-gray: #555;
$dark-gray: #222;
$abyssal-gray: #080808;
$twitter-blue: #1da1f2;
$fiery-coral: #ff424d;
$discord-blurple: #7289da;
$success-green: #31e831;
$error-red: #e83131;
$warning-yellow: #e5e200;
$info-blue: #4ca8ff;

$text-font-stack: "Open Sans", sans-serif;
$code-font-stack: "Roboto Mono", monospace;
